.preview {
  width: 640px;
  background-color: var(--color-white);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.16);
  border-radius: 4px;
}

.preview .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-border);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-dark-mute);
  padding: 0 20px;
  line-height: 40px;
  background-color: var(--color-background);
}

/* edit button */
.preview .title .btn {
  font-size: 13px;
  height: 30px;
  margin-top: 5px;
  box-shadow:inset 0px -1px 0px 1px var(--color-background);
	background:linear-gradient(to bottom, var(--color-white) 5%, var(--color-gradient) 100%);
	background-color: var(--color-white);
	border-radius:6px;
	border:1px solid var(--color-button-border);
	display:inline-block;
	cursor:pointer;
	color: var(--color-text-dark);
	font-family:Arial;
	font-size:15px;
	font-weight:400;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--color-white);
}

.preview .title .btn:hover {
  background:linear-gradient(to bottom, var(--color-button-gradient) 5%, #ffffff 100%);
	background-color:var(--color-button-gradient);
}

.preview .title .btn:active {
  position:relative;
	top:1px;
}

.preview .title .btn:focus {
  outline: none;
  box-shadow: none;
}

/* delete button */
.preview .title .delete {
  font-size: 13px;
  height: 30px;
  margin-top: 5px;
  box-shadow:inset 0px -1px 0px 1px var(--color-background);
	background:linear-gradient(to bottom, var(--color-white) 5%, var(--color-gradient) 100%);
	background-color: var(--color-white);
	border-radius:6px;
	border:1px solid var(--color-button-border);
	display:inline-block;
	cursor:pointer;
	color: var(--color-button-red);
	font-family:Arial;
	font-size:15px;
	font-weight:400;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--color-white);
  margin-right: 5px;
}

.preview .title .delete:hover {
  background:linear-gradient(to bottom, var(--color-button-gradient) 5%, #ffffff 100%);
	background-color:var(--color-button-gradient);
}

.preview .title .delete:active {
  position:relative;
	top:1px;
}

.preview .title .delete:focus {
  outline: none;
  box-shadow: none;
}

/* preview content */
.preview .content {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-text-dark);
  white-space: pre-wrap;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 20px;
}

.preview .content .codeblock {

}
